name: deno-test

on:
  push:
    branches:
      - main
    paths:
      - "**/*.ts"
      - ".github/workflows/ci.yml"
  pull_request:
    paths:
      - "**/*.ts"
      - ".github/workflows/ci.yml"


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout Deno Module
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Deno
        uses: denolib/setup-deno@4df079f84f6c4ef488b04806df9af59e51d09bfb # v2
      - name: Test Deno Module
        run: deno test
